<div class="subnav subnav--absolute">
    <header class="search-page-header">
        <div style="display:flex;align-items:center;width:100%;margin-right:20px;">
            <span class="subnav__page-title">Need review before {{search.dateFrom}} <strong>{{search.dateTo}}</strong></span>
            <span>
                <button
                    ng-click="search.setDeadline(1)"
                    ng-class="{btn: true, 'btn--primary': search.isActive(1)}">month</button>
                <button
                    ng-click="search.setDeadline(3)"
                    ng-class="{btn: true, 'btn--primary': search.isActive(3)}">3 months</button>
            </span>
        </div>
    </header>
</div>
<section sd-search-container class="search main-section search-page-container" ng-class="{'sidebar-open': false}">
    <div sd-search-results data-showtags="false" class="archive-content"></div>
</section>
