{% extends "email_layout.html" %}

{% block content %}
<p>Dear {{user.first_name}}</p>
<p>A Superdesk user account has been created for you. Superdesk is the global system for
Editorial content creation at Fidelity International.</p>
<p>You can access the Superdesk application from the application in your start menu, or
from the following link in Google Chrome (<a href="https://fidelity.superdesk.pro">https://fidelity.superdesk.pro</a>)
Open it now to start creating, editing and translating content!</p>
<p>For any questions, please contact Katie Roberts, Managing Editor or Stephen Gardner, Commissioning Editor.</p>
<p>&nbsp;</p>
<p>Thank you,</p>
<p>The Editorial Team</p>
{% endblock %}
