<p>Hello, {{user.display_name}}</p>
<p>The Editorial Team has created a Superdesk user account for you. Superdesk is the new global Editorial System for content creation and distribution at Fidelity.</p>
<p>Use the testing system https://fidelity-next.superdesk.pro to make yourself familiar with the system.</p>
<p>Once you feel ready, the production system is accessible here: <a href="https://wp-fidelity-next.superdesk.pro">https://wp-fidelity-next.superdesk.pro</a></p>
<p>You can access both systems by clicking the "Single Sign On" Button, no extra username or password is required.</p>
<p>For any questions, please do not hesitate to contact the Superdesk Administrator Alistair Jackson.</p>
<p>The Editorial Team</p>
