{% extends "fidelity_layout.html" %}

{% block content %}

{% set privacy_policy %}{% include "privacy_policy.html" %}{% endset %}

{% if policy_compare(get_accepted_policy(data['user']), privacy_policy)  %}
    <script>
        opener.postMessage({type: 'oauth', data: {{ data|tojson }}}, '*');
        opener.focus();
        window.close();
    </script>

{% else %}
    <h1>Welcome to Superdesk</h1>

    {% if get_accepted_policy(data['user']) %}
    <p>Policy was updated. Please read it and accept again.</p>
    {% endif %}

    {{ privacy_policy | safe }}

    <form action="{{ url_for('privacy_policy_accept') }}" method="POST">
        <input type="hidden" name="session" value="{{ data['_id'] }}" />
        <input type="hidden" name="policy" value='{{ privacy_policy | e }}' />

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Agree and Continue</button>
        </div>
    </form>
{% endif %}

{% endblock %}
