gunicorn==19.7.1
honcho==1.0.1
newrelic>=2.66,<2.67
python3-saml==1.2.6
lxml==3.8.0
Superdesk-Core==1.29.2
git+git://github.com/superdesk/superdesk-core.git@1.29#egg=Superdesk-Core
git+git://github.com/superdesk/superdesk-planning.git@1.5#egg=superdesk-planning
